html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.top {
  padding: 32px 0;
  background: linear-gradient(rgba(174, 0, 255), rgba(174, 0, 255, 0.5));
}

.top__wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.logo__link {}

.top__logo__img {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.top__logo__img:hover {
  transform: scale(1.2);
  box-shadow: -2px -2px 15px 5px pink;
}

.top__logo__img:active {
  transform: scale(1.1);
  box-shadow: -1px -1px 14px 4px pink;
}

.search__wrap {
  display: flex;
  align-items: center;
}

.search__form {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.search__input {
  border: none;
  padding: 3px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.search__input:focus {
  transform: scale(1.1);
  box-shadow: -2px -2px 15px 5px pink;
}

.search__label {
  transition: all 0.3s ease;
  opacity: 0.7;
  cursor: pointer;
  fill: inherit;
}

.search__label rect {
  fill: none;
}

.search__label:hover {
  opacity: 1;
}

.search__label:active {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: -2px -2px 15px 5px pink;
}

.search__input:hover {
  box-shadow: 0 0 10px 4px pink;
}

.search__input:focus~.search__label .search__label__svg {
  visibility: hidden;
}

.search__input:focus~.form__submit {
  visibility: visible;
}

.form__submit {
  border: none;
  position: absolute;
  top: 6px;
  left: 270px;
  background: pink;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  visibility: hidden;
}

.form__submit:hover {
  transform: scale(1.1);
  box-shadow: -2px -2px 15px 5px pink;
}

.form__submit:active {
  transform: scale(1);
  box-shadow: -1px -1px 15px 5px pink;
}

.top__navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.top__nav__link {
  color: black;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.top__nav__link:hover {
  background-color: pink;
  opacity: 1;
  transform: scale(1.1);
  box-shadow: -1px -1px 15px 8px pink;
}

.top__nav__link:active {
  background-color: pink;
  opacity: 1;
  transform: scale(1);
  box-shadow: -1px -1px 15px 8px pink;
}

.blog {
  background: linear-gradient(rgba(174, 0, 255, 0.5), rgba(255, 192, 203, 0.5));
}

.blog__wrap {}

.aside__wrap {
  position: absolute;
  max-width: 246px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.aside {
  max-width: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  visibility: visible;
  gap: 8px;
  top: 118px;
  right: 0;
}

.aside__search__form {
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.aside__search__input {
  border: none;
  max-width: 200px;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.aside__search__input:hover {
  box-shadow: 0 0 10px 4px pink;
}

.aside__search__input:focus {
  transform: scale(1.1);
  box-shadow: -2px -2px 15px 5px pink;
}

.aside__search__label {
  transition: all 0.3s ease;
  opacity: 0.7;
  cursor: pointer;
}

.aside__search__label rect {
  fill: none;
}

.aside__search__label:hover {
  opacity: 1;
}

.aside__search__label:active {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: -2px -2px 15px 5px pink;
}

.aside__search__input:focus~.aside__search__label .aside__search__label__svg {
  visibility: hidden;
}

.aside__search__input:focus~.aside__form__submit {
  visibility: visible;
}

.aside__form__submit {
  border: none;
  position: absolute;
  top: 6px;
  left: 170px;
  background: pink;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  visibility: hidden;
}

.aside__form__submit:hover {
  transform: scale(1.1);
  box-shadow: -2px -2px 15px 5px pink;
}

.aside__form__submit:active {
  transform: scale(1);
  box-shadow: -1px -1px 15px 5px pink;
}

.bradcramp {}

.general__post {
  padding: 32px 226px 32px 0;
}

.title {
  padding: 64px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 36px;
}

.general__post__article {
  max-width: 1600px;
  width: 100%;
  height: 320px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid rgb(174, 0, 255, 0.5);
  border-radius: 0 45px 0 45px;
}

.general__post__article:hover {
  box-shadow: -2px -2px 60px 15px pink;
  background-color: rgba(255, 192, 203, 0.288);
}

.general__post__article:active {
  box-shadow: -1px -1px 15px 5px rgba(255, 192, 203, 0.747);
}

.general__post__article::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 32px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(174, 0, 255, 0.5));
  pointer-events: none;
}

.post__article {
  max-width: 730px;
  width: 100%;
  height: 320px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid rgb(174, 0, 255, 0.5);
  border-radius: 0 25px 0 25px;
}


.post__article:hover {
  box-shadow: -2px -2px 60px 15px pink;
  background-color: rgba(255, 192, 203, 0.288);
}

.post__article:active {
  box-shadow: -1px -1px 15px 5px rgba(255, 192, 203, 0.747);
}

.post__article::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 32px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(174, 0, 255, 0.5));
  pointer-events: none;
}

.post__img {
  margin: 0 32px 16px 0;
  float: left;
  max-width: 240px;
  width: 100%;
  height: auto;
}

.post__txt__wrap {}

.post__open__link {
  color: black;
}

.post__title {
  padding: 16px 0 0 0;
  text-align: center;
}

.post__time {
  color: grey;
  font-size: 10px;
  margin: 8px;
  text-align: right;
}

.post__txt {
  margin: 0 16px;
  text-indent: 32px;
}

.history__post {
  position: relative;
}

.breadcrumb {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.bread__item {}

.bread__link {}

.bread__link {
  color: black;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
}

.bread__link:hover {
  background-color: pink;
  opacity: 1;
  transform: scale(1.1);
  box-shadow: -1px -1px 15px 8px pink;
}

.bread__link:active {
  background-color: pink;
  opacity: 1;
  transform: scale(1);
  box-shadow: -1px -1px 15px 8px pink;
}

.bread__link::before {
  content: "";
  margin: auto;
  width: 16px;
  height: 3px;
  background: pink;
  position: absolute;
  left: -22px;
  top: 10px;
}

.bread__link::after {
  content: "";
  margin: auto;
  width: 16px;
  height: 3px;
  background: pink;
  position: absolute;
  right: -22px;
  top: 10px;
}

.filters {
  padding: 16px 0 16px 64px;
}

.filters__list {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
}

.filters__list__item {}

.filter__link {
  color: black;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter__link:hover {
  background-color: pink;
  opacity: 1;
  transform: scale(1.1);
  box-shadow: -1px -1px 15px 8px pink;
}

.filter__link:active {
  background-color: pink;
  opacity: 1;
  transform: scale(1);
  box-shadow: -1px -1px 15px 8px pink;
}

.histori__post__wrap {
  padding: 0 226px 0 0;
  margin: 0 0 32px 0;
}

.history__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  min-height: 1024px;
  align-items: center;
}

.history__post__item {
  height: 320px;
}

.button__wrap {
  display: flex;
  padding: 0 226px 0 0;
}

.load__post__button {
  margin: 0 auto 16px auto;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  background-color: rgba(255, 175, 188, 0.692);
  transition: all 0.3s ease;
  cursor: pointer;
}

.load__post__button:hover {
  transform: scale(1.2);
  box-shadow: -1px -1px 15px 8px pink;
}

.load__post__button:active {
  transform: scale(1);
  box-shadow: -1px -1px 10px 5px pink;
}

.bottom {
  background: linear-gradient(rgba(255, 192, 203, 0.5), rgba(234, 0, 255, 0.5));
}

.bottom__wrap {
  display: flex;
  padding: 64px 20px 32px 20px;
  gap: 20px;
  justify-content: space-between;
}

.bottom__logo {}

.bottom__logo__link {}

.bottom__logo__img {}

.contacts__list {
  display: flex;
  gap: 20px;
}

.contacts__list__item {}

.contacts__link svg {
  cursor: pointer;
  transition: all 0.3s ease;
}

.contacts__link:hover svg {
  fill: pink;
  transform: scale(1.2);
  box-shadow: -2px -2px 15px 5px pink;
}

.contacts__link:active svg {
  fill: rgb(255, 215, 222);
  transform: scale(1.1);
  box-shadow: -1px -1px 14px 4px pink;
}

.post__cliked {
  padding: 20px 264px 20px 0;
  min-height: 80vh;
}

.post__open__link__opened {
  cursor: default;
}

.post__img__open {
  max-width: 767px;
  width: 100%;
  float: left;
  padding: 0 40px 20px 0;
}

.post__h2__open {
  text-align: center;
  padding: 10px 20px 20px 20px;
  color: black;
  font-size: 32px;
}

.post__txt__open {
  color: rgba(0, 0, 0);
  font-size: 24px;
  text-indent: 32px;
}

.post__time__open {
  text-align: right;
  padding: 10px;
  color: rgba(0, 0, 0, 0.548);
  font-size: 12px;
}

@media(max-width:1350px) {
  .post__img__open {
    max-width: 420px;
  }

  .post__img {
    max-width: 120px;
  }
}

@media(max-width:1200px) {
  .post__img {
    max-width: 120px;
  }
}

@media(max-width:1024px) {
  .filters__list {
    gap: 8px;
    flex-direction: column;
  }

  .filter__link {
    font-size: 14px;
  }

  .post__img__open {
    max-width: 767px;
  }

  .post__cliked {
    padding: 20px 264px 20px 0;
    min-height: 80vh;
  }

  .history__list {
    grid-template-columns: 1fr;
  }
}

@media(max-width:767px) {
  .search__input {
    max-width: 160px;
    width: 100%;
  }

  .form__submit {
    left: 186px;
    font-size: 16px;
  }

  .top__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .top__navigation {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .general__post {
    padding: 32px 0 32px 0;
  }

  .title {
    padding: 32px;
    font-size: 32px;
  }

  .post__title {
    padding: 16px 0 0 0;
    text-align: center;
    font-size: 24px;
  }

  .post__txt {
    margin: 0 16px;
    font-size: 20px;
  }

  .aside__search__form {
    display: none;
  }

  .aside__wrap {
    max-width: 30px;
    padding: 0;
  }

  .breadcrumb {
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    transform: rotate(90deg);
  }

  .bread__link {
    font-size: 16px;
  }

  .bread__link::after {
    width: 3px;
    right: -8px;
    top: 7px;
    border-radius: 3px;
  }

  .bread__link::before {
    width: 3px;
    left: -8px;
    top: 7px;
    border-radius: 3px;
  }

  .histori__post__wrap {
    padding: 0 40px 0 0;
    margin: 0 0 32px 0;
  }

  .button__wrap {
    display: flex;
    padding: 0;
  }

  .contacts__list {
    display: flex;
    gap: 16px;
  }

  .contacts__link svg {
    width: 20px;
  }

  .post__cliked {
    padding: 20px 45px 20px 0;
    min-height: 80vh;
  }

  .post__h2__open {
    font-size: 24px;
  }

  .post__txt__open {
    font-size: 20px;
  }
}

@media(max-width:550px) {

  .post__img {
    margin: 0 32px 16px 0;
  }
}

@media(max-width:380px) {
  .general__post__article {
    height: 620px;
  }

  .history__post__item {
    height: 620px;
  }

  .post__article {
    height: 620px;
  }

  .post__img {
    margin: 0 16px 8px 0;
  }
}