html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0C1622;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

.head {
  background-color: #4985C8;
  padding: 10px 0;
}

.head__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
  width: 42px;
  height: 42px;
}

.logo__link {}

.logo svg {
  display: block;
  width: 42px;
  height: 42px;
  padding: 0 5px 5px 0;
}

.logo__path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #0C1622;
}

.logo:hover .logo__path {
  fill: #83A3CB;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.logo:active .logo__path {
  fill: #0C1622;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.head__nav {}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.menu__list__item {}

.menu__link {
  text-decoration: none;
  color: #0C1622;
}

.main {
  flex-grow: 1;
  background-color: #83A3CB;
}

.about {
  background-color: #83A3CB;
  padding: 32px 0 32px 0;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 30px auto;
  max-width: 1920px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  gap: 20px;
}

.about__photo__wrap {
  max-width: 500px;
}

.myphoto {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px 0 0 25px;
}

.about__txt__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3px;
}

.title {
  margin: 0 0 16px 0;
  text-align: center;
}

.about__txt {
  text-indent: 32px
}

.examples {
  background-color: #83A3CB;
  padding: 32px 0;
}

.examples__wrap {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.examples__list {}

.examples__list__item {}

.examples__title {
  margin: 32px 0 8px 0;
}

.examples__link {
  display: block;
  text-decoration: none;
  color: #0C1622;
  background-color: #4985C8;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 2px 2px #0C1622;
  box-shadow: 5px 5px 2px 2px #0C1622;
}

.contacts {
  background-color: #83A3CB;
  padding: 32px 0;
}

.contacts__wrap {
  padding: 0 20px;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__list__item {}

.contacts__link {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #0C1622;
}

.bottom {
  background-color: #4985C8;
  padding: 32px 0;
  flex-shrink: 0;
}

.bottom__wrap {
  padding: 0 20px;
}

.logo__bottom__wrap {}

.bottom__txt {}

/* Hover */

.link__hover {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.link__hover:hover {
  color: #CFB388;
}

.link__hover:active {
  color: #4985C8;
}

.contacts__link svg path {
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.contacts__link:active svg path {
  fill: #0C1622;
}

.contacts__link:hover svg path {
  fill: #CFB388;
}

@media (max-width: 767px) {
  .head__wrap {
    gap: 32px;
  }

  .menu__list {
    display: -ms-grid;
    display: grid;
    gap: 14spx;
    -ms-grid-columns: 1fr 14spx 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .menu__link {
    font-size: 14px;
  }

  .about__wrap {
    display: block;
    margin: 0;
  }

  .about__photo__wrap {
    max-width: 1600px;
    margin: 0 0 16px 0;
  }

  .myphoto {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .title {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 20px;
  }

  .about__txt {
    font-size: 16px;
  }

  .examples__title {
    font-size: 20px;
  }

  .examples__link {
    font-size: 16px;
  }

  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacts__link {
    font-size: 16px;
  }
}

.puls1 {
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-name: pulsation;
  animation-name: pulsation;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.puls2 {
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-name: pulsation;
  animation-name: pulsation;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.puls3 {
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-name: pulsation;
  animation-name: pulsation;
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.puls4 {
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-name: pulsation;
  animation-name: pulsation;
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.puls5 {
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-name: pulsation;
  animation-name: pulsation;
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.puls6 {
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-name: pulsation;
  animation-name: pulsation;
  -webkit-animation-delay: 8.5s;
  animation-delay: 8.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.puls7 {
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-name: pulsation;
  animation-name: pulsation;
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulsation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  5% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 6px 6px 3px 3px #0C1622;
    box-shadow: 6px 6px 3px 3px #0C1622;
  }

  15% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 4px 4px 2px 2px #0C1622;
    box-shadow: 4px 4px 2px 2px #0C1622;
  }

  30% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 6px 6px 3px 3px #0C1622;
    box-shadow: 6px 6px 3px 3px #0C1622;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  5% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 15px 15px 10px 10px #0C1622;
    box-shadow: 15px 15px 10px 10px #0C1622;
  }

  15% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 4px 4px 2px 2px #0C1622;
    box-shadow: 4px 4px 2px 2px #0C1622;
  }

  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 15px 15px 10px 10px #0C1622;
    box-shadow: 15px 15px 10px 10px #0C1622;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}